body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #336699;
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
}

input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select, button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #336699;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #204d74;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    color: #dedede;
    cursor: pointer;
}

.delete-btn:hover {
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: #336699;
}

a:hover{
    color: rgb(82, 140, 190);
}


@media screen and (max-width: 600px) {
    li {
        width: 100%;
    }
}
